doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,minimal-ui,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
        title="ExpressJS: File Uploads"
    body
        div(class="js-main-container")

            form(class="js-form", method="POST", action="/api/upload")
                input(type="hidden", name="testHidden", value="Hello World!")
                input(type="file", name="testFile", required)
                button(type="submit", class="js-submit") Submit

            div(class="js-download-indicator")
                strong Download:
                progress(class="js-download-meter", max="100" value="0")
                span(class="js-download-text") 0 Bytes / 0 Bytes

            div(class="js-upload-indicator")
                strong Upload:
                progress(class="js-upload-meter", max="100" value="0")
                span(class="js-upload-text") 0 Bytes / 0 Bytes

        script(src="/assets/js/homepage.js")